*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div,
article,
section,
header,
footer,
nav,
figure,
li {
    position: relative;
}

.group::after {
    display: block;
    height: 0;
    font-size: 0;
    content: ".";
    clear: both;
    visibility: hidden;
}

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

::-moz-selection {
    background: #a79e8b;
    color: #a79e8b;
}

header abbr {
    color: #a79e8b;
}

::selection {
    color: #a79e8b;
}

body,
input,
textarea {
    color: #a79e8b;
}

body {
    font-family: "Arial", sans-serif;
}

h2,
h3 {
    font-family: "Arial", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}


abbr {
    color: #a79e8b;
}


h1 {
    background: #a79e8b;
    color: #fff; /* Match h2 color */
    display: inline-block;
    margin-bottom: 1em;
    padding: 0.3em 1em;
    font-size: 2em;
    position: relative;
    animation: heartbeat 4s ease-in-out infinite;
    border-radius: 90px;
//box-shadow: 0 0 5px #ff581e, 0 0 5px #ff581e, 0 0 5px #ff581e, 0 0 5px #ff581e, 0 0 250px #ff581e;
}

@keyframes heartbeat {
    0% {
        text-shadow: 0 0 0 #ff581e;
    }
    25% {
        text-shadow: 0 0 20px #ff581e;
    }
    50% {
        text-shadow: 0 0 0 #ff581e;
    }
    75% {
        text-shadow: 0 0 20px #ff581e;
    }
    100% {
        text-shadow: 0 0 0 #ff581e;
    }

    0% {
        box-shadow: 0 0 5px #ff581e;
    }
    25% {
        box-shadow: 0 0 5px #ff581e;
    }
    50% {
        box-shadow: 0 0 5px #ff581e;
    }
    75% {
        box-shadow: 0 0 5px #ff581e;
    }
    100% {
        box-shadow: 0 0 250px #ff581e;
    }
}


h2 {
    color: #f78e66;
    font-weight: 900;
    font-size: 4em;
    letter-spacing: 1px;
    line-height: 1em;
}

h2:hover {
    cursor: pointer;
}


h3 {
    color: #f3997a;
    text-transform: uppercase;
    margin-top: -8%;
    font-size: 1.75em;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 1em;
    padding: 0.5em 0 0.25em 0;
    transition: color 0.3s ease-in-out;

    position: relative;
    text-decoration: none;
    display: inline;
    text-shadow: 0 0 5px #700909, 0 0 10px #700909, 0 0 10px #700909, 0 0 10px #700909, 0 0 10px #700909;

}

h3:before {
    content: "";
    position: absolute;
    bottom: -2px;
    height: 3px;
    width: 0;
    background: #f85a5a;
    border-radius: 10px;
    transition: width 0.5s ease;
    box-shadow: 0 0 10px #700909, 0 0 10px #700909, 0 0 10px #700909, 0 0 10px #700909, 0 0 10px #700909;
}

h3:hover:before {
    width: 100%;
}

a {
    border-bottom: 2px solid rgba(104, 126, 255, 0.2);
    color: #687eff;
    text-decoration: none;
    transition: border-color 0.2s ease-in-out;
}

a:hover {
    border-color: #b6fffa;
    color: #b6fffa;
}

p,
li {
    font-size: 1em;
    font-weight: 400;
    line-height: 1.5em;
    padding: 0.5em 0;
}

em,
strong {
    font-style: normal;
    font-weight: 400;
}

html {
    background: #101417;
    padding: 5%;
}

div.page-wrapper {
    z-index: 2;
}

section.intro {
    padding: 5%;
}

section.intro div.summary {
    margin-top: -5%;
    padding: 15% 0;
}

div.main {
    padding: 5%;
}

aside.sidebar {
    padding: 5%;
}

aside.sidebar ul {
    padding: 0.5em 0 2em 0;
}

aside.sidebar ul li {
    color: #f78e66;
    list-style: none;
    margin: 0;
    padding: 0 0 0.825em 0;
}

footer {
//background: ;
    clear: both;
    color: #fff;
//margin-right: -30%;
    padding: 1em 50%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
//margin-right: 220%;
}

footer a {
    margin-right: 2.5em;
}

div.explanation {
    margin-top: -3%;
    font-size: 1.10em;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 1em;
    padding: 0.5em 0 0.25em 0;
    transition: color 0.3s ease-in-out;
}

div.participation {
// background: #zf78e66;
    padding: 5%;
}

div.benefits {
    padding: 8%;
    margin-top: 0;
    margin-bottom: -3%;
    margin-right: 31.1%;
    margin-left: -7.96%;
}

div.requirements {
    padding: 8%;
    margin-top: -4%;
    margin-bottom: -3%;
    margin-right: 31.1%;
    margin-left: -7.96%;
}

@media screen and (min-width: 1px) {
    body {
        font-size: 85%;
    }

}

@media only screen and (max-width: 426px) {
    div.requirements, div.benefits, div.participation, div.explanation, div.preamble{
        margin-bottom: 10%;
        margin-right: 0;
        margin-left: 0;
        margin-top: 10%;
        padding: 1px;
        text-align: center;

    }
    h3{
        font-size: 18px;
    }
    h1{
        font-size: 26px;
        text-align: center;
        margin-right: auto;
        margin-left: auto;
        display: block;
    }
    h2{
        font-size: 30px;
        text-align: center;
        margin-right: auto;
        margin-left: auto;
        display: block;
    }
    footer{
        margin-left: 15px;
    }
    .sidebar{
        font-size: 15px;
        text-align: center;
        margin-right: auto;
        margin-left: auto;
        display: block;
        line-height: 3.5;
    }
    p {
        display: block;
        text-align: center;
    }

}

@media screen and (min-width: 550px) {
    h2 {
        font-size: 6em;
    }
    section.intro {
        width: 66.6%;
    }
    aside.sidebar {
        position: absolute;
        right: 0;
        top: 0%;
        width: 32.75%;
    }
    div.extra1 {
        bottom: 0;
        right: 0;
        position: fixed;
        top: 0;
        width: 30%;
        z-index: 1;
    }
    div.explanation {
        float: left;
        width: 50%;
    }
    div.participation {
        position: absolute;
        right: 0;
        top: -11.3%;
        width: 32.75%;
    }
    div.benefits {
        float: left;
    }
    div.requirements {
        float: left;
        width: 119%;
    }
}

@media screen and (min-width: 700px) {
    body {
        font-size: 90%;
    }
}

@media screen and (min-width: 900px) {
    body {
        font-size: 100%;
    }
}

@media screen and (min-width: 1500px) {
    body {
        font-size: 110%;
    }
}

@media screen and (min-width: 1800px) {
    body {
        font-size: 125%;
    }
}
